.span2 {
  white-space: pre-wrap;
}
.animal-care2 {
  font-size: var(--font-size-21xl);
}
.animal-care2,
.home2 {
  white-space: pre-wrap;
}
.animal-care-ho2 {
  font-weight: 300;
  font-size: var(--font-size-9xl);
}
.animal-care-home-container2 {
  height: 81px;
  flex: 1;
  position: relative;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.about,
.contact-info-child {
  position: relative;
  max-width: 100%;
}
.contact-info-child {
  height: 110px;
  width: 1019px;
  background-color: var(--color-whitesmoke);
  display: none;
}
.about {
  flex: 1;
  font-size: var(--font-size-45xl);
  display: inline-block;
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.contact-info,
.our-goals {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.contact-info {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-16xl) var(--padding-base)
    var(--padding-12xl);
  background-color: var(--color-whitesmoke);
  flex: 1;
  align-items: center;
  justify-content: center;
}
.contact-info:hover {
  background-color: #dbdbdb;
}
.our-goals {
  width: 1043px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
}
.our-goal1 {
  font-weight: 200;
}
.our-goal {
  margin: 0;
}
.blank-line1 {
  font-weight: 200;
}
.blank-line {
  margin: 0;
}
.animalcare-is-your {
  margin: 0;
  font-size: var(--font-size-5xl);
  font-weight: 300;
}
.our-goal-container {
  align-self: stretch;
  height: 281px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.about-section-wrapper,
.about-section2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.about-section2 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 48px 0;
}
.about-section-wrapper {
  width: 1385px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 42px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.our-contacts {
  margin: 0;
}
.email-id {
  margin-bottom: 0;
}
.email-id-animalcare015gmail {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-29xl);
}
.our-contacts-container {
  height: 170px;
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 300;
  max-width: 100%;
}
.desktop-3,
.header-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.header-frame {
  width: 1129px;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs) 0 240px;
  gap: 36px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .about-section-wrapper,
  .header-frame {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .header-frame {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
  }
}
@media screen and (max-width: 1050px) {
  .about {
    font-size: var(--font-size-32xl);
  }
  .our-contacts-container {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 750px) {
  .about-section2 {
    gap: 48px 0;
  }
  .desktop-3 {
    gap: 36px 0;
  }
}
@media screen and (max-width: 450px) {
  .about {
    font-size: var(--font-size-19xl);
  }
  .our-goal-container {
    font-size: 19px;
  }
  .our-contacts-container {
    font-size: var(--font-size-3xl);
  }
}
